#jumbotronID {
    background-image: url("../images/ribblehead-viaduct-2443085_1920.jpg");
    background-size: 100% 100%;

    text-shadow: 3px 3px 5px white;
}

.display-4{
    font-weight: bold;
}

.lead{
    font-weight: bold;
}

.card-header{
    font-weight:bold;
    background-color: blanchedalmond;
}

.card{
    background-color: transparent;
}

.card-body{
    background-color: rgba(255,255,255,0.75);
}

@media screen and (max-width: 550px) {
    #tableCard{
        font-size: .75em;

    }

}
